In [10]:
import numpy as np
import pandas as pd
import requests
import alpha_vantage

In [21]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=IBM&apikey=' + alpha_vantage.key
r = requests.get(url)
data = r.json()

print(r)

<Response [200]>

In [23]:
r.status_code

200

In [3]:
data.pop('Meta Data')

{'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'IBM',
 '3. Last Refreshed': '2022-01-14',
 '4. Time Zone': 'US/Eastern'}

In [6]:
df = pd.DataFrame(data['Monthly Time Series']).T
df

             1. open   2. high    3. low  4. close  5. volume
2022-01-14  134.0700  142.2000  127.9700  134.2100   68058451
2021-12-31  118.2500  134.9900  116.5600  133.6600  113930079
2021-11-30  125.0500  127.2900  114.5600  117.1000  119252012
2021-10-29  141.0000  146.0000  124.6200  125.1000  144097758
2021-09-30  139.9800  140.5700  132.7800  138.9300   76644238
...              ...       ...       ...       ...        ...
2000-04-28  120.0000  128.0000  101.2500  111.5000  168464800
2000-03-31  102.0000  128.2500   99.5000  118.3700  194329000
2000-02-29  112.3700  119.7500  100.9400  102.7500  133524400
2000-01-31  112.4400  124.7500  109.6200  112.2500  175259600
1999-12-31  102.5600  122.1200  102.2500  107.8700  158626300

[266 rows x 5 columns]

In [7]:
df['Company'] = 'IBM'

In [8]:
df

             1. open   2. high    3. low  4. close  5. volume Company
2022-01-14  134.0700  142.2000  127.9700  134.2100   68058451     IBM
2021-12-31  118.2500  134.9900  116.5600  133.6600  113930079     IBM
2021-11-30  125.0500  127.2900  114.5600  117.1000  119252012     IBM
2021-10-29  141.0000  146.0000  124.6200  125.1000  144097758     IBM
2021-09-30  139.9800  140.5700  132.7800  138.9300   76644238     IBM
...              ...       ...       ...       ...        ...     ...
2000-04-28  120.0000  128.0000  101.2500  111.5000  168464800     IBM
2000-03-31  102.0000  128.2500   99.5000  118.3700  194329000     IBM
2000-02-29  112.3700  119.7500  100.9400  102.7500  133524400     IBM
2000-01-31  112.4400  124.7500  109.6200  112.2500  175259600     IBM
1999-12-31  102.5600  122.1200  102.2500  107.8700  158626300     IBM

[266 rows x 6 columns]

In [11]:
sp500 = pd.read_csv('sp500.csv')
sp500

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [14]:
symbols = sp500['Symbol']
symbols

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [ ]:
# get income statements for companies
url = 'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol=IBM&apikey=' + alpha_vantage.key
for i, s in enumerate(symbols):
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get income statements for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('income_statements.csv')
    else:
        df.to_csv('income_statements.csv', mode = 'a')
    sleep(15)

In [20]:
url = 'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol=IBM&apikey=' + alpha_vantage.key
for i, s in enumerate(symbols):
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get balance sheet for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('balance_sheets.csv')
    else:
        df.to_csv('balance_sheets.csv', mode = 'a')
    sleep(15)

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2021-09-30,USD,8171000000,17618000000,9447000000,49000000,1761000000,4860000000,1621000000,6410000000,...,1037000000,647000000,1318000000,188000000,291000000,1130000000,1480000000,1609000000,2256000000,1130000000
1,2021-06-30,USD,9004000000,18745000000,9741000000,103000000,2304000000,5334000000,1657000000,6700000000,...,1050000000,630000000,1552000000,227000000,281000000,1325000000,1930000000,1833000000,2463000000,1325000000
2,2021-03-31,USD,8204000000,17730000000,9525000000,59000000,1084000000,5174000000,1630000000,7120000000,...,1052000000,620000000,904000000,-51000000,280000000,956000000,2036000000,1184000000,1804000000,955000000
3,2020-12-31,USD,10523000000,20367000000,9844000000,181000000,-4000000000,7233000000,1611000000,2000000000,...,1089000000,610000000,1380000000,24000000,317000000,1264000000,603000000,1697000000,2307000000,1356000000
4,2020-09-30,USD,8430000000,17560000000,9130000000,64000000,2358000000,4647000000,1515000000,6072000000,...,1070000000,613000000,1826000000,128000000,323000000,1698000000,1870000000,2149000000,2762000000,1698000000
5,2020-06-30,USD,8700000000,18123000000,9423000000,117000000,2121000000,5248000000,1582000000,6579000000,...,1056000000,623000000,1570000000,209000000,323000000,1362000000,1888000000,1893000000,2516000000,1361000000
6,2020-03-31,USD,7922000000,17571000000,9649000000,76000000,-145000000,5955000000,1625000000,8067000000,...,1012000000,622000000,-51000000,-1226000000,326000000,1176000000,489000000,275000000,897000000,1175000000
7,2019-12-31,USD,11100000000,21777000000,10677000000,387000000,4048000000,5433000000,1596000000,7052000000,...,1021000000,629000000,3994000000,324000000,354000000,3669000000,4159000000,4348000000,4977000000,3670000000
8,2019-09-30,USD,8336000000,18028000000,9692000000,75000000,1872000000,5024000000,1553000000,6464000000,...,1058000000,611000000,1521000000,-151000000,432000000,1673000000,1427000000,1953000000,2564000000,1672000000
9,2019-06-30,USD,9010000000,19161000000,10151000000,74000000,1950000000,5456000000,1407000000,7060000000,...,987000000,307000000,2767000000,269000000,348000000,2499000000,2839000000,3115000000,3422000000,2498000000
10,2019-03-31,USD,8043000000,18182000000,10139000000,55000000,1616000000,4691000000,1433000000,6427000000,...,1143000000,303000000,1880000000,289000000,210000000,1593000000,1899000000,2090000000,2393000000,1591000000
11,2018-12-31,USD,10687000000,21761000000,11073000000,11073000000,4306000000,4701000000,1358000000,6381000000,...,790000000,322000000,4432000000,2481000000,193000000,1953000000,282000000,4625000000,4947000000,1951000000
12,2018-09-30,USD,8803000000,18756000000,9953000000,9953000000,2840000000,4363000000,1252000000,5963000000,...,790000000,348000000,2998000000,304000000,191000000,2692000000,3164000000,3189000000,3537000000,2694000000
13,2018-06-30,USD,9199000000,20003000000,10804000000,10804000000,2636000000,4857000000,1364000000,6563000000,...,773000000,342000000,2777000000,373000000,173000000,2402000000,2697000000,2950000000,3292000000,2404000000
14,2018-03-31,USD,8247000000,19072000000,10825000000,10825000000,1057000000,5445000000,1405000000,7190000000,...,774000000,340000000,1139000000,-540000000,165000000,1675000000,2109000000,1304000000,1644000000,1679000000
15,2017-12-31,USD,11049000000,22542000000,11493000000,11362000000,3928000000,5014000000,1378000000,6934000000,...,790000000,359000000,4468000000,5522000000,164000000,-1053000000,-125000000,4632000000,4991000000,-1054000000
16,2017-09-30,USD,8981000000,19153000000,10172000000,10031000000,2427000000,4606000000,1291000000,6373000000,...,792000000,383000000,3065000000,339000000,168000000,2726000000,3394000000,3233000000,3616000000,2726000000
17,2017-06-30,USD,8968000000,19289000000,10321000000,10207000000,1762000000,5033000000,1436000000,7032000000,...,730000000,388000000,2442000000,111000000,147000000,2332000000,2852000000,2589000000,2977000000,2331000000
18,2017-03-31,USD,7944000000,18155000000,10211000000,10104000000,697000000,5027000000,1484000000,7075000000,...,709000000,390000000,1421000000,-329000000,135000000,1753000000,2438000000,1556000000,1946000000,1750000000
19,2016-12-31,USD,11115000000,21770000000,10655000000,10592000000,4093000000,4776000000,1406000000,6800000000,...,731000000,396000000,4981000000,480000000,157000000,4506000000,3268000000,5138000000,5534000000,4501000000

In [31]:
url = 'https://www.alphavantage.co/query?function=CASH_FLOW&symbol=IBM&apikey=' + alpha_vantage.key
for i, s in enumerate(symbols):
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get balance sheet for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('cash_flow.csv')
    else:
        df.to_csv('cash_flow.csv', mode = 'a')
    sleep(15)

In [35]:
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=IBM&apikey=' + alpha_vantage.key
for i, s in enumerate(symbols):
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get balance sheet for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyEarnings'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('earnings.csv')
    else:
        df.to_csv('earnings.csv', mode = 'a')
    sleep(15)

,fiscalDateEnding,reportedCurrency,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,...,dividendPayoutCommonStock,dividendPayoutPreferredStock,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,netIncome
0,2021-09-30,USD,2713000000,None,None,None,None,1684000000,558000000,None,...,1471000000,None,None,151000000,None,0,None,1130000000,None,1130000000
1,2021-06-30,USD,2625000000,None,None,None,None,1680000000,560000000,None,...,1467000000,None,None,192000000,None,0,None,1325000000,None,1325000000
2,2021-03-31,USD,4914000000,None,None,None,None,1672000000,494000000,None,...,1457000000,None,None,51000000,None,0,None,-2869000000,None,955000000
3,2020-12-31,USD,5860000000,None,None,None,None,1699000000,678000000,5297000000,...,1454000000,None,None,167000000,None,0,None,-4000000000,None,1356000000
4,2020-09-30,USD,4285000000,None,None,None,None,1683000000,725000000,None,...,1453000000,None,None,147000000,None,0,None,1698000000,None,1698000000
5,2020-06-30,USD,3576000000,None,None,None,None,1679000000,585000000,None,...,1450000000,None,None,4135000000,None,0,None,1361000000,None,1361000000
6,2020-03-31,USD,4476000000,None,None,None,None,1634000000,630000000,None,...,1440000000,None,None,6055000000,None,0,None,3459000000,None,1175000000
7,2019-12-31,USD,3451000000,2073000000,None,None,None,1650000000,576000000,None,...,1438000000,None,None,329000000,None,0,None,-2096000000,None,3670000000
8,2019-09-30,USD,3619000000,395000000,None,None,None,1669000000,588000000,None,...,1436000000,None,None,247000000,None,-125000000,None,1672000000,None,1672000000
9,2019-06-30,USD,2941000000,None,None,None,None,307000000,583000000,None,...,1436000000,None,None,25270000000,None,-316000000,None,2498000000,None,2498000000
10,2019-03-31,USD,4759000000,None,None,None,None,1446000000,539000000,None,...,1397000000,None,None,5979000000,None,-920000000,None,5769000000,None,1591000000
11,2018-12-31,USD,4119000000,None,None,None,None,1112000000,782000000,1006000000,...,1416000000,None,None,2177000000,None,-2050000000,None,-31000000,None,1951000000
12,2018-09-30,USD,4232000000,None,None,None,None,348000000,812000000,None,...,1431000000,None,None,2208000000,None,-626000000,None,2692000000,None,2694000000
13,2018-06-30,USD,2294000000,None,None,None,None,342000000,931000000,None,...,1437000000,None,None,336000000,None,-990000000,None,2403000000,None,2404000000
14,2018-03-31,USD,4602000000,None,None,None,None,1114000000,870000000,None,...,1382000000,None,None,2170000000,None,-777000000,None,-71000000,None,1679000000
15,2017-12-31,USD,5733000000,None,None,None,None,653000000,956000000,1297000000,...,1387000000,None,None,288000000,None,-628000000,None,1057000000,62000000,-1054000000
16,2017-09-30,USD,3570000000,None,None,None,None,383000000,848000000,None,...,1395000000,None,None,3520000000,None,-909000000,None,-781000000,328000000,2726000000
17,2017-06-30,USD,3466000000,None,None,None,None,388000000,685000000,None,...,1403000000,None,None,2948000000,None,-1389000000,None,1600000000,447000000,2331000000
18,2017-03-31,USD,3955000000,None,None,None,None,1257000000,740000000,None,...,1321000000,None,None,2887000000,None,-1239000000,None,2270000000,100000000,1750000000
19,2016-12-31,USD,3979000000,None,None,None,None,1271000000,973000000,712000000,...,1329000000,None,None,764000000,None,-832000000,None,-1212000000,-206000000,4501000000

In [36]:
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=IBM&apikey=' + alpha_vantage.key
r = requests.get(url)
data = r.json()
df = pd.DataFrame(data['quarterlyEarnings'])
df = df.set_index('fiscalDateEnding')
df

,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
fiscalDateEnding,,,,,
2021-09-30,2021-10-20,2.52,2.5147,0.0053,0.2108
2021-06-30,2021-07-19,2.33,2.2884,0.0416,1.8179
2021-03-31,2021-04-19,1.77,1.6524,0.1176,7.1169
2020-12-31,2021-01-21,2.07,1.8753,0.1947,10.3823
2020-09-30,2020-10-19,2.58,2.579,0.001,0.0388
...,...,...,...,...,...
1997-03-31,1997-04-23,0.59,0.58,0.01,1.7241
1996-12-31,1997-01-21,0.98,0.99,-0.01,-1.0101
1996-09-30,1996-10-21,0.61,0.61,0,0
1996-06-30,1996-07-25,0.63,0.61,0.02,3.2787
1996-03-31,1996-04-17,0.55,0.6,-0.05,-8.3333