In [59]:
import numpy as np
import pandas as pd
import requests
import alpha_vantage
from time import *

In [38]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=IBM&apikey=' + alpha_vantage.key
r = requests.get(url)
data = r.json()

print(r)

<Response [200]>

In [39]:
r.status_code

200

In [40]:
data.pop('Meta Data')

{'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'IBM',
 '3. Last Refreshed': '2022-01-14',
 '4. Time Zone': 'US/Eastern'}

In [41]:
df = pd.DataFrame(data['Monthly Time Series']).T
df

             1. open   2. high    3. low  4. close  5. volume
2022-01-14  134.0700  142.2000  127.9700  134.2100   68058451
2021-12-31  118.2500  134.9900  116.5600  133.6600  113930079
2021-11-30  125.0500  127.2900  114.5600  117.1000  119252012
2021-10-29  141.0000  146.0000  124.6200  125.1000  144097758
2021-09-30  139.9800  140.5700  132.7800  138.9300   76644238
...              ...       ...       ...       ...        ...
2000-04-28  120.0000  128.0000  101.2500  111.5000  168464800
2000-03-31  102.0000  128.2500   99.5000  118.3700  194329000
2000-02-29  112.3700  119.7500  100.9400  102.7500  133524400
2000-01-31  112.4400  124.7500  109.6200  112.2500  175259600
1999-12-31  102.5600  122.1200  102.2500  107.8700  158626300

[266 rows x 5 columns]

In [42]:
df['Company'] = 'IBM'

In [43]:
df

             1. open   2. high    3. low  4. close  5. volume Company
2022-01-14  134.0700  142.2000  127.9700  134.2100   68058451     IBM
2021-12-31  118.2500  134.9900  116.5600  133.6600  113930079     IBM
2021-11-30  125.0500  127.2900  114.5600  117.1000  119252012     IBM
2021-10-29  141.0000  146.0000  124.6200  125.1000  144097758     IBM
2021-09-30  139.9800  140.5700  132.7800  138.9300   76644238     IBM
...              ...       ...       ...       ...        ...     ...
2000-04-28  120.0000  128.0000  101.2500  111.5000  168464800     IBM
2000-03-31  102.0000  128.2500   99.5000  118.3700  194329000     IBM
2000-02-29  112.3700  119.7500  100.9400  102.7500  133524400     IBM
2000-01-31  112.4400  124.7500  109.6200  112.2500  175259600     IBM
1999-12-31  102.5600  122.1200  102.2500  107.8700  158626300     IBM

[266 rows x 6 columns]

In [44]:
sp500 = pd.read_csv('sp500.csv')
sp500

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [45]:
symbols = sp500['Symbol']
symbols

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [ ]:
# get income statements for companies
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol=' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get income statements for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('income_statements.csv')
    else:
        df.to_csv('income_statements.csv', mode = 'a', header = False)
    sleep(15)

In [ ]:
# get balance sheets for companies
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get balance sheet for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('balance_sheets.csv')
    else:
        df.to_csv('balance_sheets.csv', mode = 'a', header = False)
    sleep(15)

In [31]:
# get cash flow for companies
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=CASH_FLOW&symbol=' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get cash flow for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyReports'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('cash_flow.csv')
    else:
        df.to_csv('cash_flow.csv', mode = 'a', header = False)
    sleep(15)

In [ ]:
# get earnings for companies
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get earnings for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame(data['quarterlyEarnings'])
    df = df.set_index('fiscalDateEnding')
    df['Symbol'] = s
    if i == 0:
        df.to_csv('earnings.csv')
    else:
        df.to_csv('earnings.csv', mode = 'a', header = False)
    sleep(15)

In [ ]:
# get company overview
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol=' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get company overview for %s", s)
        continue
    data = r.json()
    df = pd.DataFrame.from_dict(data, orient = 'index').T
    if i == 0:
        df.to_csv('comapany_overview.csv')
    else:
        df.to_csv('company_overview.csv', mode = 'a', header = False)
    sleep(15)

In [47]:
# get monthly prices
for i, s in enumerate(symbols):
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=' + s + '&apikey=' + alpha_vantage.key
    print(s)
    r = requests.get(url)
    if r.status_code != 200:
        print("Unable to get monthly prices for %s", s)
        continue
    data = r.json()
    data.pop('Meta Data')
    df = pd.DataFrame(data['Monthly Time Series']).T
    df['Symbol'] = s
    if i == 0:
        df.to_csv('monthly_prices.csv')
    else:
        df.to_csv('monthly_prices.csv', mode = 'a', header = False)
    sleep(15)